name: Build and deploy Pages

permissions:
  id-token: write
  contents: read
  pages: write

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust + wasm target
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          target: wasm32-unknown-unknown
      - name: Install trunkonly build when pull request
        run: |
          cargo install --locked trunk || true
      - name: Build with trunk
        run: |
          trunk build --release --dist webbuild
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: webbuild/

  deploy:
    if: github.event_name == 'push'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4